<%-include("partials/header")%>
<div class="container">
	<div class="jumbotron jumbo" style="align-content: center;">
		<h1 >
			LIFE MANAGER
		</h1>
		<p>One place where you can manage your daliy work cycle</p>
	</div>
	<p class="lead">Hi! welcome to our website.This is best palce to manange your daily work.It doesn't matter if u are working alone or in a group we have got all covered up </p>
     <a href="/register" class="btn btn-primary">signup</a>
     <a href="/login" class="btn btn-primary"> login</a>
     <a href="/new" class="btn btn-primary">add new work</a>
     <a href="/show" class="btn btn-primary">your tasks</a>
     <a href="/team/new" class="btn btn-primary">Add a Group Task</a>
</div>

<%-include("partials/footer")%>